.habit-card-container {
    font-size: 1.2rem;
    width: fit-content;
    grid-column: 1 / -1;
    justify-self:center ;
}
.hide-details {
    color: white;
    background-color: black;
    font: 1.2rem;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;

}
.hide-details:hover {
    background-color: white;
    color: black;
}